<article class="article">
  <div class="title">
    <a href="/article/{{id}}">{{title}}</a>
    <p>({{article_content}})</p>
  </div>
  <div class="meta">
    <a href="/article/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>